.skf_b{
	width: 600px;
	height:300px;
	background:red;
	float:left;
	margin-top: 50px;
}
.skf_left{
	width: 200px;
	height:300px;
	background:yellow;
	float:left;
}
.skf_left ul{
	float:left;
}
.skf_left li{
	line-height:24px;
	list-style:none;
	font-size:12px;
}
.skf_centent{
	width: 200px;
	height:300px;
	background:aqua;
	float:left;
}
.skf_centent img{
	width: 200px;
	height: 150px;
	float:left;
}
.skf_right{
	width: 200px;
	height: 300px;
	float:left;
	background:#ccc;
}
.skf_right img{
	width: 100px;
	height: 150px;
	float:left;
}
.skf_right ul{
	float:left;
}
.skf_right li{
	list-style:none;
	line-height:20px;
	font-size:12px;
	float:left;
}
